## **1. Conditions and Conditional Statements**

### **1.1 Comparison Operators**
Comparison operators are used to compare two values. The result is a **Boolean** value (`True` or `False`).

| Operator | Description                  | Example       | Result  |
|----------|------------------------------|---------------|---------|
| `==`     | Equal to                     | `10 == 5`     | `False` |
| `!=`     | Not equal to                 | `10 != 5`     | `True`  |
| `>`      | Greater than                 | `10 > 5`      | `True`  |
| `<`      | Less than                    | `10 < 5`      | `False` |
| `>=`     | Greater than or equal to     | `10 >= 10`    | `True`  |
| `<=`     | Less than or equal to        | `10 <= 5`     | `False` |

**Example**:

In [1]:
x = 10
y = 5

print(x == y)  # Output: False
print(x > y)   # Output: True
print(x <= y)  # Output: False

False
True
False

### **1.2 Logical Operators**
Logical operators combine multiple conditions.

| Operator | Description                  | Example                     | Result  |
|----------|------------------------------|-----------------------------|---------|
| `and`    | True if both conditions are true | `(x > 5) and (y < 10)`     | Depends |
| `or`     | True if at least one condition is true | `(x > 5) or (y > 10)` | Depends |
| `not`    | Inverts the condition        | `not (x == y)`              | Depends |

**Example**:

In [2]:
x = 10
y = 5

print((x > 5) and (y < 10))  # Output: True
print((x > 5) or (y > 10))   # Output: True
print(not (x == y))          # Output: True

True
True
True

### **1.3 Conditional Statements**
Conditional statements allow you to execute different blocks of code based on conditions.

#### **1. `if` Statement**
- Executes a block of code if the condition is `True`.
- **Syntax**:
  ```python
  if condition:
      # Code to execute if condition is True
  ```
- **Example**:

In [4]:
age = 18
if age >= 18:
    print("You are an adult.")

You are an adult.

#### **2. `if-else` Statement**
- Executes one block of code if the condition is `True` and another if itâ€™s `False`.
- **Syntax**:
  ```python
  if condition:
      # Code to execute if condition is True
  else:
      # Code to execute if condition is False
  ```
- **Example**:

In [5]:
age = 16
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are a minor.

#### **3. `if-elif-else` Statement**
- Checks multiple conditions in sequence.
- **Syntax**:
  ```python
  if condition1:
      # Code to execute if condition1 is True
  elif condition2:
      # Code to execute if condition2 is True
  else:
      # Code to execute if all conditions are False
  ```
- **Example**:

In [6]:
score = 85
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: F")

Grade: B

### **1.4 Nested Conditional Statements**
You can nest conditional statements inside one another for complex logic.

**Example**:

In [7]:
age = 20
is_student = True

if age >= 18:
    if is_student:
        print("You are an adult student.")
    else:
        print("You are an adult.")
else:
    print("You are a minor.")

You are an adult student.

### **1.5 Ternary Operator**
The ternary operator provides a shorthand for simple `if-else` statements.

**Syntax**:
```python
value_if_true if condition else value_if_false
```

**Example**:

In [8]:
age = 20
status = "Adult" if age >= 18 else "Minor"
print(status)  # Output: Adult

Adult

### **1.6 Practice Problems**

#### **Problem 1: Check if a Number is Positive, Negative, or Zero**

In [9]:
number = float(input("Enter a number: "))
if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

Positive

#### **Problem 2: Find the Largest of Three Numbers**

In [10]:
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
c = float(input("Enter the third number: "))

if a >= b and a >= c:
    print(f"{a} is the largest.")
elif b >= a and b >= c:
    print(f"{b} is the largest.")
else:
    print(f"{c} is the largest.")

30.0 is the largest.

#### **Problem 3: Check if a Year is a Leap Year**

In [12]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2025 is not a leap year.

## **2. Lists**

### **2.1 What is a List?**
- **Definition**: A list is an ordered, mutable collection of items enclosed in square brackets `[]`.
- **Example**:

In [13]:
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed = [1, "apple", 3.14, True]

### **2.2 Accessing List Elements**
#### **1. Indexing**
- Lists are zero-indexed.
- **Example**:

In [14]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])  # Output: apple

apple

#### **2. Negative Indexing**
- Negative indices count from the end.
- **Example**:

In [15]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])  # Output: cherry

cherry

#### **3. Slicing**
- Extract a sublist using `list[start:stop:step]`.
- **Example**:

In [16]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numbers[2:5])  # Output: [3, 4, 5]

[3, 4, 5]

### **2.3 Modifying Lists**
#### **1. Changing Elements**
- **Example**:

In [17]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blueberry"
print(fruits)  # Output: ['apple', 'blueberry', 'cherry']

['apple', 'blueberry', 'cherry']

#### **2. Adding Elements**
- **`append()`**: Add an element to the end.
- **`insert()`**: Insert an element at a specific index.
- **`extend()`**: Add multiple elements.
- **Example**:

In [18]:
fruits = ["apple", "banana"]
fruits.append("cherry")
fruits.insert(1, "blueberry")
fruits.extend(["orange", "kiwi"])
print(fruits)

['apple', 'blueberry', 'banana', 'cherry', 'orange', 'kiwi']

#### **3. Removing Elements**
- **`remove()`**: Remove the first occurrence of a value.
- **`pop()`**: Remove an element by index.
- **`del`**: Delete an element or slice.
- **`clear()`**: Remove all elements.
- **Example**:

In [20]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
fruits.pop(1)
del fruits[0]
fruits.clear()
print(fruits)

[]

### **2.4 List Operations**
#### **1. Concatenation**
- Combine two lists using `+`.
- **Example**:

In [21]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined = list1 + list2
print(combined)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

#### **2. Repetition**
- Repeat a list using `*`.
- **Example**:

In [22]:
numbers = [1, 2, 3]
repeated = numbers * 3
print(repeated)  # Output: [1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### **3. Membership**
- Check if an item exists in a list using `in`.
- **Example**:

In [23]:
fruits = ["apple", "banana", "cherry"]
print("banana" in fruits)  # Output: True

True

### **2.5 List Methods**
| Method       | Description                              | Example                          |
|--------------|------------------------------------------|----------------------------------|
| `append()`   | Adds an element to the end of the list   | `fruits.append("kiwi")`          |
| `insert()`   | Inserts an element at a specific index   | `fruits.insert(1, "blueberry")`  |
| `extend()`   | Adds elements from another list          | `fruits.extend(["orange", "kiwi"])` |
| `remove()`   | Removes the first occurrence of a value  | `fruits.remove("banana")`        |
| `pop()`      | Removes an element by index              | `fruits.pop(1)`                  |
| `clear()`    | Removes all elements from the list       | `fruits.clear()`                 |
| `index()`    | Returns the index of the first occurrence of a value | `fruits.index("cherry")` |
| `count()`    | Returns the number of occurrences of a value | `fruits.count("banana")`     |
| `sort()`     | Sorts the list in place                  | `fruits.sort()`                 |
| `reverse()`  | Reverses the list in place               | `fruits.reverse()`              |
| `copy()`     | Returns a shallow copy of the list       | `new_fruits = fruits.copy()`    |

### **2.6 Practice Problems**

#### **Problem 1: Find the Sum of List Elements**

In [24]:
numbers = [1, 2, 3, 4, 5]
total = sum(numbers)
print(f"The sum is {total}.")

The sum is 15.

#### **Problem 2: Find the Maximum and Minimum in a List**

In [25]:
numbers = [10, 20, 5, 30, 15]
max_value = max(numbers)
min_value = min(numbers)
print(f"Max: {max_value}, Min: {min_value}.")

Max: 30, Min: 5.

#### **Problem 3: Remove Duplicates from a List**

In [26]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5]

## **3. Tuples**

### **3.1 What is a Tuple?**
- **Definition**: A tuple is an ordered, immutable collection of items enclosed in parentheses `()`.
- **Example**:

In [27]:
fruits = ("apple", "banana", "cherry")
numbers = (1, 2, 3, 4, 5)
mixed = (1, "apple", 3.14, True)

### **3.2 Accessing Tuple Elements**
#### **1. Indexing**
- Tuples are zero-indexed.
- **Example**:

In [28]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])  # Output: apple

apple

#### **2. Negative Indexing**
- Negative indices count from the end.
- **Example**:

In [29]:
fruits = ("apple", "banana", "cherry")
print(fruits[-1])  # Output: cherry

cherry

#### **3. Slicing**
- Extract a subtuple using `tuple[start:stop:step]`.
- **Example**:

In [30]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(numbers[2:5])  # Output: (3, 4, 5)

(3, 4, 5)

### **3.3 Immutability of Tuples**
- Tuples cannot be modified after creation.
- **Example**:

In [31]:
fruits = ("apple", "banana", "cherry")
fruits[1] = "blueberry"  # Error: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

### **3.4 Tuple Operations**
#### **1. Concatenation**
- Combine two tuples using `+`.
- **Example**:

In [32]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined = tuple1 + tuple2
print(combined)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

#### **2. Repetition**
- Repeat a tuple using `*`.
- **Example**:

In [33]:
numbers = (1, 2, 3)
repeated = numbers * 3
print(repeated)  # Output: (1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#### **3. Membership**
- Check if an item exists in a tuple using `in`.
- **Example**:

In [34]:
fruits = ("apple", "banana", "cherry")
print("banana" in fruits)  # Output: True

True

### **3.5 Tuple Methods**
| Method       | Description                              | Example                          |
|--------------|------------------------------------------|----------------------------------|
| `count()`    | Returns the number of occurrences of a value | `fruits.count("banana")`     |
| `index()`    | Returns the index of the first occurrence of a value | `fruits.index("cherry")` |

### **3.6 Practice Problems**

#### **Problem 1: Find the Length of a Tuple**

In [35]:
fruits = ("apple", "banana", "cherry")
length = len(fruits)
print(f"The tuple has {length} elements.")

The tuple has 3 elements.

#### **Problem 2: Check if an Element Exists in a Tuple**

In [36]:
fruits = ("apple", "banana", "cherry")
if "banana" in fruits:
    print("Banana is in the tuple.")
else:
    print("Banana is not in the tuple.")

Banana is in the tuple.

#### **Problem 3: Concatenate Two Tuples**

In [37]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined = tuple1 + tuple2
print(combined)

(1, 2, 3, 4, 5, 6)

## **4. Sets**

### **4.1 What is a Set?**
- **Definition**: A set is an unordered, mutable collection of unique elements enclosed in curly braces `{}`.
- **Example**:

In [38]:
fruits = {"apple", "banana", "cherry"}
numbers = {1, 2, 3, 4, 5}
mixed = {1, "apple", 3.14, True}

### **4.2 Creating Sets**
#### **1. Using Curly Braces**
- **Example**:

In [39]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'apple', 'cherry', 'banana'}

#### **2. Using the `set()` Constructor**
- **Example**:

In [40]:
numbers = set([1, 2, 3, 4, 5])
print(numbers)

{1, 2, 3, 4, 5}

### **4.3 Accessing Set Elements**
- Sets are unordered, so they do not support indexing or slicing.
- Use loops or membership tests to access elements.
- **Example**:

In [42]:
fruits = {"apple", "banana", "cherry"}
for fruit in fruits:
    print(fruit)

apple
cherry
banana

### **4.4 Modifying Sets**
#### **1. Adding Elements**
- **`add()`**: Add a single element.
- **`update()`**: Add multiple elements.
- **Example**:

In [43]:
fruits = {"apple", "banana"}
fruits.add("cherry")
fruits.update(["orange", "kiwi"])
print(fruits)

{'apple', 'kiwi', 'orange', 'cherry', 'banana'}

#### **2. Removing Elements**
- **`remove()`**: Remove a specific element (raises an error if not found).
- **`discard()`**: Remove a specific element (no error if not found).
- **`pop()`**: Remove and return an arbitrary element.
- **`clear()`**: Remove all elements.
- **Example**:

In [44]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
fruits.discard("kiwi")
fruits.pop()
fruits.clear()
print(fruits)

set()

### **4.5 Set Operations**
#### **1. Union (`|`)**
- Combines elements from two sets.
- **Example**:

In [45]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

#### **2. Intersection (`&`)**
- Returns elements common to both sets.
- **Example**:

In [46]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1 & set2  
print(intersection_set)  # Output: {3}

{3}

#### **3. Difference (`-`)**  
- Returns elements in the first set that are not in the second set.  
- **Example**:

In [47]:
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
difference_set = set1 - set2  
print(difference_set)  # Output: {1, 2}

{1, 2}

#### **4. Symmetric Difference (`^`)**  
- Returns elements that are in either set but not in both.  
- **Example**:

In [48]:
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
symmetric_difference_set = set1 ^ set2  
print(symmetric_difference_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

### **4.6 Set Methods**  
| Method               | Description                              | Example                          |
|----------------------|------------------------------------------|----------------------------------|
| `add()`              | Adds a single element to the set         | `fruits.add("kiwi")`             |
| `update()`           | Adds multiple elements to the set        | `fruits.update(["orange", "kiwi"])` |
| `remove()`           | Removes a specific element (raises error if not found) | `fruits.remove("banana")` |
| `discard()`          | Removes a specific element (no error if not found) | `fruits.discard("kiwi")` |
| `pop()`              | Removes and returns an arbitrary element | `fruits.pop()`                   |
| `clear()`            | Removes all elements from the set        | `fruits.clear()`                 |
| `union()`            | Returns the union of two sets            | `set1.union(set2)`               |
| `intersection()`     | Returns the intersection of two sets     | `set1.intersection(set2)`        |
| `difference()`       | Returns the difference of two sets       | `set1.difference(set2)`          |
| `symmetric_difference()` | Returns the symmetric difference of two sets | `set1.symmetric_difference(set2)` |
| `issubset()`         | Checks if one set is a subset of another | `set1.issubset(set2)`            |
| `issuperset()`       | Checks if one set is a superset of another | `set1.issuperset(set2)`        |

**Example**:

In [49]:
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
print(set1.union(set2))          # Output: {1, 2, 3, 4, 5}  
print(set1.intersection(set2))   # Output: {3}  
print(set1.difference(set2))     # Output: {1, 2}

{1, 2, 3, 4, 5}
{3}
{1, 2}

### **4.7 Practice Problems**  

#### **Problem 1: Remove Duplicates from a List**  
- Write a program to remove duplicates from a list using a set.  
- **Example**:

In [50]:
numbers = [1, 2, 2, 3, 4, 4, 5]  
unique_numbers = list(set(numbers))  
print(unique_numbers)

[1, 2, 3, 4, 5]

#### **Problem 2: Check if Two Sets Have Common Elements**  
- Write a program to check if two sets have any common elements.  
- **Example**:

In [51]:
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
if set1 & set2:  
    print("The sets have common elements.")  
else:  
    print("The sets have no common elements.")

The sets have common elements.

#### **Problem 3: Find the Difference Between Two Sets**  
- Write a program to find the elements that are in the first set but not in the second set.  
- **Example**:

In [52]:
set1 = {1, 2, 3, 4}  
set2 = {3, 4, 5, 6}  
difference = set1 - set2  
print(difference)

{1, 2}

## **5. Dictionaries**

### **5.1 What is a Dictionary?**  
- **Definition**: A dictionary is an unordered, mutable collection of key-value pairs enclosed in curly braces `{}`.  
- **Properties**:  
  - Keys must be unique and immutable (e.g., strings, numbers, tuples).  
  - Values can be of any data type.  
- **Example**:

In [53]:
student = {"name": "Alice", "age": 25, "city": "New York"}

### **5.2 Creating Dictionaries**  
#### **1. Using Curly Braces**  
- **Example**:

In [54]:
student = {"name": "Alice", "age": 25, "city": "New York"}  
print(student)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

#### **2. Using the `dict()` Constructor**  
- **Example**:

In [55]:
student = dict(name="Alice", age=25, city="New York")  
print(student)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

### **5.3 Accessing Dictionary Elements**  
#### **1. Using Keys**  
- **Example**:

In [56]:
student = {"name": "Alice", "age": 25, "city": "New York"}  
print(student["name"])  # Output: Alice

Alice

#### **2. Using the `get()` Method**  
- **Example**:

In [57]:
student = {"name": "Alice", "age": 25, "city": "New York"}  
print(student.get("name"))  # Output: Alice  
print(student.get("grade")) # Output: None

Alice
None

### **5.4 Modifying Dictionaries**  
#### **1. Adding or Updating Key-Value Pairs**  
- **Example**:

In [58]:
student = {"name": "Alice", "age": 25}  
student["city"] = "New York"  # Add a new key-value pair  
student["age"] = 26           # Update an existing value  
print(student)

{'name': 'Alice', 'age': 26, 'city': 'New York'}

#### **2. Removing Key-Value Pairs**  
- **`del`**: Delete a key-value pair by key.  
- **`pop()`**: Remove a key-value pair and return the value.  
- **`popitem()`**: Remove and return the last inserted key-value pair.  
- **`clear()`**: Remove all key-value pairs.  
- **Example**:

In [59]:
student = {"name": "Alice", "age": 25, "city": "New York"}  
del student["age"]  
city = student.pop("city")  
last_item = student.popitem()  
student.clear()  
print(student)

{}

### **5.5 Dictionary Methods**  
| Method               | Description                              | Example                          |
|----------------------|------------------------------------------|----------------------------------|
| `keys()`             | Returns a list of all keys               | `student.keys()`                 |
| `values()`           | Returns a list of all values             | `student.values()`               |
| `items()`            | Returns a list of key-value pairs as tuples | `student.items()`             |
| `get()`              | Returns the value for a given key        | `student.get("name")`            |
| `update()`           | Updates the dictionary with new key-value pairs | `student.update({"grade": "A"})` |
| `pop()`              | Removes and returns the value for a given key | `student.pop("age")`         |
| `popitem()`          | Removes and returns the last inserted key-value pair | `student.popitem()` |
| `clear()`            | Removes all key-value pairs              | `student.clear()`                |

**Example**:

In [60]:
student = {"name": "Alice", "age": 25, "city": "New York"}  
print(student.keys())    # Output: dict_keys(['name', 'age', 'city'])  
print(student.values())  # Output: dict_values(['Alice', 25, 'New York'])  
print(student.items())   # Output: dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'New York'])
dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

### **5.6 Dictionary Operations**  
#### **1. Membership**  
- Check if a key exists in the dictionary using `in`.  
- **Example**:

In [61]:
student = {"name": "Alice", "age": 25}  
print("name" in student)  # Output: True  
print("grade" in student) # Output: False

True
False

#### **2. Looping Through a Dictionary**  
- Use a `for` loop to iterate over keys, values, or key-value pairs.  
- **Example**:

In [62]:
student = {"name": "Alice", "age": 25, "city": "New York"}  

# Loop through keys  
for key in student:  
    print(key)  

# Loop through values  
for value in student.values():  
    print(value)  

# Loop through key-value pairs  
for key, value in student.items():  
    print(f"{key}: {value}")

name
age
city
Alice
25
New York
name: Alice
age: 25
city: New York

### **5.7 Practice Problems**  

#### **Problem 1: Count Word Frequencies**  
- Write a program to count the frequency of each word in a sentence.  
- **Example**:

In [63]:
sentence = "apple banana apple orange banana apple"  
words = sentence.split()  
frequency = {}  

for word in words:  
    frequency[word] = frequency.get(word, 0) + 1  

print(frequency)

{'apple': 3, 'banana': 2, 'orange': 1}

#### **Problem 2: Merge Two Dictionaries**  
- Write a program to merge two dictionaries.  
- **Example**:

In [64]:
dict1 = {"a": 1, "b": 2}  
dict2 = {"c": 3, "d": 4}  
merged = {**dict1, **dict2}  
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#### **Problem 3: Find the Highest Value in a Dictionary**  
- Write a program to find the key with the highest value in a dictionary.  
- **Example**:

In [65]:
grades = {"Alice": 85, "Bob": 90, "Charlie": 78}  
highest_key = max(grades, key=grades.get)  
print(f"The highest grade is {grades[highest_key]} by {highest_key}.")

The highest grade is 90 by Bob.